<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>
    <h3>Payment Module</h3>
    <form action="{{ EASYPAISA_SERVER_URL }}/easypay/Index.jsf " method="POST" target="_blank">
        <! -- Store Id Provided by Easypay-->
        <input name="storeId" value="2785" hidden = "true"/>
        <! -- Amount of Transaction from merchant’s website -->
        <input name="amount" value="10" hidden = "true"/>
        <! – Post back URL from merchant’s website -- >
        <input name="postBackURL" value="{{ postBackURL }}" hidden = "true"/>
        <! – Order Reference Number from merchant’s website -- >
        <input name="orderRefNum" value="1212"/>
        <! – Expiry Date from merchant’s website -- >
{#        <input type ="hidden" name="expiryDate" value="20140606 201521">#}
        <! – This is the button of the form which submits the form -- >
        <input type = "image" src="checkout-button-with-logo.png" border="0" name= "pay">
    </form>
</body>
</html>